body {
    background-image: url("/GifTastic/assets/images/matrix.jpg");
}

.jumbotron {
    text-align: center;
    background-color: black;
    color: #0098fe;
}

hr {
    background-color: #0098fe;
}

#middle {
    margin-bottom: 32px;
}

.card-header {
    text-align: center;
    background-color: black;
    color: #0098fe;
}